---
layout: default
---
 
 <div class="bookbackground" style="background-image:url(http://images.amazon.com/images/P/{{page.amazon_id}}.01.LZZZZZZZ.jpg)">
 </div>
 
	<div class="bookheadercontainer">
		<div class='bookcover'>
					<img border="0" src="http://images.amazon.com/images/P/{{page.amazon_id}}.01.LZZZZZZZ.jpg">		 
		</div>
		<div class="booktitle">
			<span class="whyread">Why you should read</span>
			<span><strong>{{page.title}}</strong></span>
			<span><strong>by {{page.author}}</strong></span>
			<span class="whyread">{{page.subtitle}}</span>
		</div>
	</div>
	 
<div class="bookbuybox">
	Amazon link 1
	Amazon link 2
</div>

<div class="bookaltcovers">
	{% capture titlenospace %}
	{{ title | remove: " " | downcase}}
	{% endcapture %}
	
	{% assign num = meta.altimages %}
	{% assign num = num | plus: 0 %}

	{% for i in (1..num) %}
		<img src="/assets/{{titlenospace}}{{i}}.jpg" />
	
	{% endfor %}
	
	
	
</div>
 
 
 {{ content }}


